// Font family
$font-family-base: 'Roboto', sans-serif;

// Font sizes
$font-size-1: 60px;
$font-size-2: 55px;
$font-size-3: 25px;
$font-size-4: 20px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-size-small: 12px;

// Line height
$line-height: 156.69%;

// Colors
$color-primary-1: #0076C0; // Primary
$color-primary-2: #056DAE;
$color-gray-1: #F6F6F6;
$color-gray-2: #9A9A9A;
$color-blue: #00AFED;
$color-brown: #333333;
$color-error: #D60000;
$color-white: #ffffff;
$color-black: #000000;
$gradient-primary: linear-gradient(180deg, $color-blue 0%, $color-primary-2 100%);

// Box shadow
$box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);

// Breakpoints
$xs: 576px !default;
$sm: 768px !default;
$md: 992px !default;
$lg: 1200px !default;
$xl: 1400px !default;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
) !default;